<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addValidationContactPage</title>
</head>
<body>
<header>
    <div id="logo"> Pay My Buddy</div>
    <div id="menu">
        <ul>
            <li><a href="/homePage">Home</a></li>
            <li><a href="/transferPage"> Transfer</a></li>
            <li><a href="/profilePage"> Profile </a></li>
            <li><a href="/contactPage">Contact </a></li>
            <li><a href="/logout">Log off </a></li>

        </ul>
        <div id="path">Home / Contact</div>
    </div>
</header>
<section>
    <h2>Add Connection</h2>
    <div id="addConnection">

        <p>L'adresse mail que vous avez rensigné, appartient à <span th:text="${contactFirstName}"/> <span
                th:text="${contactLastName}"/>.<br>
            Confirmez vous vouloir l'ajouter à votre liste de contact ?</p>

        <form action="/contactPage/validation/yes" method="get">
            <input type="submit" value="Oui, je confirme">
        </form>

        <form action="/contactPage/validation/no" method="get">
            <input type="submit" value="Non">
        </form>

    </div>
</section>
</body>
</html>