<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link href="../static/css/contactPage.css" th:href="@{/css/contactPage.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div id="top">
        <div id="logo"> Pay My Buddy</div>
        <div id="menu">
            <ul>
                <li><a href="/homePage">Home</a></li>
                <li><a href="/transferPage"> Transfer</a></li>
                <li><a href="/profilePage"> Profile </a></li>
                <li><a href="/contactPage">Contact </a></li>
                <li><a href="/logout">Log off </a></li>


            </ul>
        </div>
    </div>

    <div id="path">
        <div id="path_path">Home / <span id="path_now">Contact</span></div>
    </div>
</header>
<section>

    <div id="gestionContact">

        <h2>Add Connection</h2>
        <div id="addConnection">


            <form th:action="@{/addContact(email='email1')}">
                <div th:if="${alwaysYourContact}"> Cette personne est déjà dans vos contacts</div>
                <div th:if="${noCustomer}"> Cette personne n'est pas encore inscrite à notre service. N'hésitez pas à
                    l'inviter :)
                </div>
                <label id="email">Merci d'indiquer l'adresse email : </label>
                <input type="email" id="email" name="email" required/>
                <button type="submit">Add Contact</button>

            </form>
        </div>
    </div>


    <div id="myContact">
        <fieldset>
            <legend> Mes contacts</legend>
            <table>
                <thead>
                <tr>
                    <th> Nom</th>
                    <th> Prenom</th>
                    <th> Email</th>
                </thead>
                <tbody>
                <tr th:each="contact : ${userContacts}">
                    <td th:text="${contact.firstName}"/>
                    <td th:text="${contact.lastName}"/>
                    <td th:text="${contact.email}"/>
                    <td>
                        <a th:href="@{/contactPage/deleteContact?email={id}(id=${contact.email})}">
                            <button class="btn btn-danger">Supprimer</button>
                        </a>
                    </td>

                </tr>


                </tbody>
            </table>
        </fieldset>

    </div>


</section>
</body>
</html>