<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creation Compte</title>
</head>
<body>

<h1>Creation de compte</h1>

<form method="post" th:action="@{/creationAccount}" th:object="${user}">
  <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
  <label > firstName </label>
  <input type="text" th:field="*{firstName}"><br>
  <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
  <label > lastName </label>
  <input type="text" th:field="*{lastName}"><br>
  <label > birthdate </label>
  <input type="date" th:field="*{birthdate}"><br>
  <label > email </label>
  <input type="email" th:field="*{email}"><br>
  <label > address </label>
  <input type="text" th:field="*{address}"><br>
  <p th:if="${#fields.hasErrors('test')}" th:errorclass="error" th:errors="*{test}"></p>
  <label > password </label>
  <input type="password" th:field="*{password}"><br>
  <button type="submit">Créer</button>
</form>

</body>
</html>