<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="../static/css/homePage.css" th:href="@{/css/homePage.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div id="top">
        <div id="logo"> Pay My Buddy</div>
        <div id="menu">
            <ul>
                <li><a href="/homePage">Home</a></li>
                <li><a href="/transferPage"> Transfer</a></li>
                <li><a href="/profilePage"> Profile </a></li>
                <li><a href="/contactPage">Contact </a></li>
                <li><a href="/logout">Log off </a></li>


            </ul>
        </div>
    </div>

    <div id="path">
        <div id="path_path">Home / <span id="path_now">Home</span></div>
    </div>
</header>

<section>
    <div id=welcom>

        <h1>Bonjour <span th:text="${user.firstName}"/></h1>

        <h2> Votre Wallet est à <span th:text="${user.wallet}"/>€</h2>

        <a href="transferPage"> Effectuer une transaction</a>
    </div>

</section>

</body>
</html>