<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<header>
    <div id="logo"> Pay My Buddy</div>
    <div id="menu">
        <ul>
            <li><a href="/homePage">Home</a></li>
            <li><a href="/transferPage"> Transfer</a></li>
            <li><a href="/profilePage"> Profile </a></li>
            <li><a href="/contactPage">Contact </a></li>
            <li><a href="/logout">Log off </a></li>


        </ul>
    </div>
    <div id="path">Home</div>
</header>
<section>

    <h1>Bonjour   <span th:text="${user.firstName}"/> </h1>

    <h2> Votre Wallet est à  <span th:text="${user.wallet}"/></h2>

    <a href="transferPage"> Effectuer une transaction</a>


</section>

</body>
</html>