<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

</head>

<body>
<section>

    <div id="login">
    <h1 id="bigLogo">Pay My Buddy</h1>


    <form th:action="@{/login}" method="post">

            <div th:if="${param.error}" class="alert alert-error">
                Mauvais identifiants
            </div>

            <label for="username"> </label><br>
            <input  type="text" id="username" name="username" class="fontAwesome" placeholder="&#xf0e0; Email"  />
            <label for="password"> </label><br>
            <input type="password" id="password" name="password" class="fontAwesome" placeholder="&#xf023; Password"/>
            <div class="form-action">
                <button type="submit" class="btn"> Login</button>
            </div>

    </form>

    <a href="/creationAccount">Créer un nouveau Compte</a>
    </div>
</section>

</body>
</html>