<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link href="../static/css/profilePage.css" th:href="@{/css/profilePage.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div id="top">
        <div id="logo"> Pay My Buddy</div>
        <div id="menu">
            <ul>
                <li><a href="/homePage">Home</a></li>
                <li><a href="/transferPage"> Transfer</a></li>
                <li><a href="/profilePage"> Profile </a></li>
                <li><a href="/contactPage">Contact </a></li>
                <li><a href="/logout">Log off </a></li>


            </ul>
        </div>
    </div>

    <div id="path">
        <div id="path_path">Profile / <span id="path_now">Transfer</span></div>
    </div>
</header>


<section>

    <div id="myInfo">
        <p> Prénom : <span th:text="${user.firstName}"/></p>
        <p> Nom : <span th:text="${user.lastName}"/></p>
        <p> Date de naissance : <span th:text="${user.birthdate}"/></p>
        <p> Email : <span th:text="${user.email}"/></p>
        <p> Adresse : <span th:text="${user.address}"/></p>

        <div id="modificationMyInfo">
            <form action="/profilePage/modif" method="get">
                <input type="submit" value="Modifier">
            </form>
        </div>
    </div>


    <div id="addMoney">
        <form th:action="@{/addMoneyFromMyBankAccount}" method="post">
            <div id="cbInformation">

                <ol>
                    <li>
                        <label for=numero_de_carte>N° de carte : </label>
                        <input id=numero_de_carte name=bankCardId type=number
                               min="1" max="10000"
                               step="1" minlength="3" maxlength="16" required>
                    </li>
                    <li>
                        <label for=securite>Code sécurité : </label>
                        <input id=securite name=bankCardSecurity type=number
                               min="1" max="999"
                               step="1" minlength="3" maxlength="3" required>
                    </li>
                    <li>
                        <label for=nom_porteur>Nom du porteur : </label>
                        <input id=nom_porteur name=bankCardUserName type=text minlength="3" maxlength="20"
                               required>
                    </li>
                </ol>
            </div>

            <label for="amount">Quel montant souhaitez vous transférer sur votre compte MyPuyBuddy ?</label>
            <input type="number" id="amount" name="amount" min="0" step="0.01" required/>

            <p th:if="${validationFromBank}"> La banque a validé votre virement, le montant est maintenant sur votre
                compte</p>
            <p th:if="${rejectFromBank}"> Malheureusement votre banque n'a pas validé le montant. Merci de vous
                rapprocher de cette dernière</p>

            <div id="buttonSend">
                <button type="submit">Transférer sur mon compte My Pay Buddy</button>
            </div>

        </form>
    </div>

    <div id="trasnfereToMyBankAccount">
        <h3>Transférer vers votre compte bancaire</h3>
        <form th:action="@{/addMoneyToMyBankAccount}" method="post">

            <label for="iban"></label>
            <input type="TEXT" id="iban" name="iban" placeholder="Votre Iban" required/>
            <label for="amountToBank"></label>
            <input type="number" id="amountToBank" name="amount" placeholder="0€" min="1"
                   step="0.01" required/><br/>
            <div id="buttonSend">
                <button type="submit">Valider</button>
            </div>

        </form>
        <div id="validation Commission" th:if="${validationCommission}"> Vous avez demandé à effectuer un virement de
            <span th:text="${amountToBank}?:'null'"/>€. <br/>
            Comme annoncé dans nos conditions générales, nous allons y appliquer une commission de <span th:text="${commissionPerCent}?:'nulll'"/>% . La commission
            sera
            donc de <span th:text="${commissionRound}?:'nulll'"/>€. <br>
            Un montant de <span th:text="${amountLessCommission}?:'nulll'"/>€ sera transféré sur votre compte bancaire.

            <div id="choice">

                <form action="/addMoneyToMyBankAccount/validation" method="get">
                    <input type="submit" value="Valider">
                </form>

                <form action="/profilePage" method="get">
                    <input type="submit" value="Annuler" name="amount">
                </form>
            </div>
        </div>
        <p th:if="${walletToLow}"> Désolé, mais vous ne pouvez effectuer ce virement. Le solde de votre Wallet est
            inférieur à ce montant</p>
    </div>
</section>


</body>
</html>