<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<header>
    <div id="logo"> Pay My Buddy</div>
    <div id="menu">
        <ul>
            <li><a href="/homePage">Home</a></li>
            <li><a href="/transferPage"> Transfer</a></li>
            <li><a href="/profilePage"> Profile </a></li>
            <li><a href="/contactPage">Contact </a></li>
            <li><a href="/logout">Log off </a></li>

        </ul>
    </div>
    <div id="path">Home / Profile</div>
</header>
<h1>Bienvue sur votre page profil </h1>
<h2>EN cours de construction</h2>
</body>
</html>