<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profilePageModif</title>
    <link href="../static/css/profilePageModif.css" th:href="@{/css/profilePageModif.css}" rel="stylesheet"/>
</head>


<body>
<header>
    <div id="top">
        <div id="logo"> Pay My Buddy</div>
        <div id="menu">
            <ul>
                <li><a href="/homePage">Home</a></li>
                <li><a href="/transferPage"> Transfer</a></li>
                <li><a href="/profilePage"> Profile </a></li>
                <li><a href="/contactPage">Contact </a></li>
                <li><a href="/logout">Log off </a></li>


            </ul>
        </div>
    </div>

    <div id="path">
        <div id="path_path">Profile / <span id="path_now">Transfer</span></div>
    </div>
</header>


<div id="myInfo">
    <form method="post" th:action="@{/updateAccount}" th:object="${user}">
        <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
        <label> firstName </label>
        <input type="text" th:field="*{firstName}"><br>
        <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
        <label> lastName </label>
        <input type="text" th:field="*{lastName}"><br>
        <p th:if="${#fields.hasErrors('birthdate')}" th:errorclass="error" th:errors="*{birthdate}"></p>
        <label> birthdate </label>
        <input type="date" th:field="*{birthdate}"><br>
        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
        <label> email </label>
        <input type="email" th:field="*{email}"><br>
        <p th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{address}"></p>
        <label> address </label>
        <input type="text" th:field="*{address}"><br>
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
        <label> password </label>
        En construction - entrez votre mdp actuel
        <input type="password" th:field="*{password}"><br>


        <button type="submit">Modifier</button>
    </form>

    <form action="/profilePage" method="get">
        <input type="submit" value="Annuler">
    </form>


</div>


</body>
</html>